@import "../styles/colors.css";

.footer {
    position: fixed;
    top: 100vh;
    transform: translateY(-110%);
    font-size: 16px;
    margin-left: 15px;
}

.socials ul, .nav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.socials a, .nav a {
    color: var(--cpt-text);
    text-decoration: none;
}

.socials a > * {
    display: block;
    padding: 15px;
}

.nav {
    display: inline;
    overflow: hidden;
}

.nav li {
    display: inline;
    float: left;
}

.nav a {
    display: block;
    padding: 15px;
    text-align: center;
}

.socials a:hover, .nav a:hover {
    color: var(--cpt-subtext0);
}
