@import "../styles/colors.css";
face { font-family: Akira; src: url('../fonts/Akira\ Expanded\ Demo.otf'); }
.header {
    list-style-type: none;
    margin: 0px 0px 15px 0px;
    padding: 0px;
    background-color: var(--cpt-mantle);
    overflow: hidden;
}

.header img {
    position: absolute;
    height: 64px;
    width: 64px;
    float: left;
    margin-left: 15px;
    margin-top: 0px;
}

.header h1 {
    text-align:center;
    margin: 10px;
    font-family: Arkira;

}
