@import "../styles/colors.css";

body {
    margin: 0px;
    background-color: var(--cpt-base);
    color: var(--cpt-text);
    /* font-family: Arial, Helvetica, sans-serif; */
}

.center {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.centerMargins {
    margin-left: auto;
    margin-right: auto;
}
